# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# IDE specific
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Others
.DS_Store

# Vite
.vite
.vite-server
out-tsc

# Lockfiles
yarn.lock
package-lock.json
pnpm-lock.yaml

#Caches
.cache